
html, body{
    height:100%;
}



body{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
    font-size:13px;
    font-family:'Kumbh Sans', sans-serif;
    color: #585858;
    font-weight:400px;
    background:linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
     
       
}

header{
    color:black;
    font-size:24px;
    position:relative;
    margin-top:0;
    padding:0;
    margin-bottom:20px;
}

.modal{
    
    width:1000px;
    height:540px;
    background-image:url(./images/bg-pattern-desktop.svg);
    background-repeat:no-repeat;
    border-radius:10px;
    box-shadow:2px 4px 16px rgba(0,0,0,.2);
    display:flex;
    gap:50px;
    justify-content:flex-start;
    align-items:center;
    background-position:-550px -270px;
    background-color:white;
    margin-left:240px;
   

}

#womanImg{
 
    position:relative;
   
    left:-70px;
   
}

#box{
    position:absolute;

    top:135px;
    left:-50px;
    
}



section{  
    width: 350px;
    padding:5px;
   
     
}

hr{
    background-color:hsl(240, 5%, 91%);
    height:1px;
    color:hsl(240, 5%, 91%);
    border:none;
    
}


article{
    display:flex;
    flex-direction:column;
    
}  

.arrow{
    float:right;
     
}

.arrow[open]{
    transform:rotate(180deg);
}


summary{
    list-style:none;
}

summary:hover{
    cursor:pointer;
    color:orange;
}

p{
    padding:5px;
}

details{
    margin-bottom: 18px;
}

details[open] summary{
    font-weight:bold;
    color:black;
}

details[open] .arrow{
    transform:rotate(180deg);
}



footer{
    visibility:hidden;
}
